@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400..700&display=swap');


*,
*::before,
*::after {
    font-family: "Monda", sans-serif;
    font-optical-sizing: auto;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}